*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(care6.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh ;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 75px;
}
.logo{
    color:black;
    font-size: 100px;
    font-family: Arial;
    float: left;
    padding-top: 100px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 60px;
    margin-top: 27px;
    list-style: none;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color:darkred;
    font-family: Arial;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
ul li a:focus{
    color:black ;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    color: #fff;
    font-size: 16px;
    border-right: none;
    margin-top: 13px;
    float: left;
    padding: 10px ;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: white ;
    border: 2px solid midnightblue;
    margin-top: 13px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}
.btn:hover{
    background-color: darkred;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    padding: 150px;
}
.content  p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color:black;
    font-weight:900;
    font-size: larger;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
    color:darkred;
}

.content .cn{
    width: 160px;
    height: 40px;
    color: black;
    border: none;
    font-size: larger; 
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.cn:hover{
    background-color: darkred;
}
.form{
    width: 250px;
    height: 500px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 20px;
    padding: 25px;
    margin-top: 100px;
    margin-left: 100px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: darkred;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid darkred;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #fff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: .5s ease;
}

.btnn:hover{
    color: darkred;
background-color: darkred;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    margin-right: 20px;
}
.form .link a{
    text-decoration: none;
    color: darkred;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: .5s ease;
}

.icons ion-icon:hover{
    color: darkred;
}

@media(max-width:350px){
    .main{
        width: 350%;}
    .icon{
        width: 5px;
        height: 75px;}
    .logo{
        font-size: 70px;
        padding-top: 100px;
        }
    .content{
        width: 1000px;
        padding: 100px;
        margin: 10px;
        }
    .form{
        top: -10px;
        left: 600px;
        margin-top: 10px;
        }
}
@media (min-width: 351px) and (max-width:600px){
    .main{
        width: 350%;}
    .icon{
        width: 5px;
        height: 75px;}
    .logo{
        font-size: 70px;
        padding-top: 100px;
        padding-left: 0px;
        }
    .content{
        width: 1000px;
        padding: 100px;
        margin: 10px;
        }
    .form{
        top: -20px;
        left: 850px;
        margin-top: 10px;
        }

}
@media (min-width:601px) and (max-width:980px){
    .main{
        width: 450%;
        height: 900px;
    }
    .icon{
        width: 100px;
        height: 75px;}
    .logo{
        font-size: 70px;
        padding-top: 80px;
        margin-right: 10px;
    }
    .content{
        width: 1000px;
        padding: 100px;
        margin: 10px;
        }
    .form{
        top: -20px;
        left: 1400px;
        margin-top: 100px;
        }

}
